  GNU nano 6.2                                                                                                  docker-compose.yaml                                                                                                           
services:
  postgres_db:
    container_name: database
    image: postgres:13-alpine3.17
    environment:
      - POSTGRES_USER=${PGUSER}
      - POSTGRES_PASSWORD=${PGPW}
      - POSTGRES_DB=${PGDB}
    volumes:
      - pg_data:/var/lib/postgresql/data/pgdata:rw
    ports:
      - "5432:5432"

  mage:
    container_name: mage
    image: mageai/mageai
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=./google/credentials/google_credentials.json
      - "MAGE_DATABASE_CONNECTION_URL=postgresql+psycopg2://${PGUSER}:${PGPW}@postgres_db:5432/${PGDB}"
    volumes:
      - ./mage_data:/home/src
    ports:
      - "6789:6789"
    depends_on:
      - postgres_db

volumes:
  pg_data:
    name: pg_data

networks:
  default:
    name: mage_demo

